{%extends "question_base.html"%}
{%load staticfiles%}
{%block extra_js%}
    <script type="text/javascript" src="{% static "js/tag-it.min.js" %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {        
        $('#topics').tagit({
            removeConfirmation: true,
            singleField: true,
            singleFieldNode: $('#id_tags'),
            allowSpaces: true,
            minLength: 2,
            singleFieldDelimiter: ',',
            allowDuplicates:false,
            tagSource: function( request, response ) {
                var data={'term':request.term}
                $.ajax({
                    "url": "/tag/search/", 
                    "type": "POST",
                    "data": data,       
                    "dataType": "json",
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label:item,
                                value:item
                            }
                        }));
                    }
                    })
            },
            autocomplete: {
               delay: 200,
               minLength: 3               
            }
        });        
    });    
    </script>
{%endblock%}
{%block extra_css%}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.tagit.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/tagit.ui-zendesk.css" %}">    
{%endblock%}
{%load crispy_forms_tags%}
{%block title%}Đặt câu hỏi{%endblock%}
{%block content%}
<form action="/question/add/" id="question" method="post">
{%csrf_token%}
    <div id="div_id_title" class="form-group">
        <label for="id_title" class="control-label  requiredField">Câu hỏi
            <span class="asteriskField">*</span> 
        </label> 
        <div class="controls ">
            <input class="textinput textInput form-control" id="id_title" name="title" type="text"> 
        </div>
    </div>
    <div id="div_id_content" class="form-group">
        <label for="id_content" class="control-label ">Mô tả</label>
        <div class="controls ">
            <textarea class="textarea form-control" cols="40" id="id_content" name="content" rows="10"></textarea>
        </div>
    </div>
    <input class="textinput textInput form-control" id="id_tags" name="tags" type="hidden">
    <div class="form-group">
        <label for="topics" class="control-label ">Chủ đề</label>
        <ul id="topics"></ul>
    </div>    
    <div class="form-group">
        <div class="controls ">
            <input type="submit" name="submit" value="Đăng câu hỏi" class="btn btn-primary" id="submit-id-submit">
        </div>
    </div>
</form>
{%endblock%}