{%extends "tag_base.html"%}
{% load staticfiles %}
{%block title%}Tất cả chủ đề{%endblock%}
{%block extra_js%}
    <script type="text/javascript" src="{% static "js/follow.js" %}"></script>
{%endblock%}
{%block content%}
    {%if tags %}
        <div class="tags">
            <h4>Tất cả chủ đề</h4>
            <hr/>
            <div class="row">
            {%for tag in tags %}
                <div class="item col-md-3">
                    <h4><a href="{% url 'tag:tag_detail' tag.pk tag.slug %}">{{tag.name|escape}}</a></h4>
                    <span class="questions_count">
                        Câu hỏi: {{tag.questions_count}}
                    </span>
                    {%if user.is_authenticated%}
                        <div class="follow">
                            <button class="btn btn-primary btn-xs followtag">
                                <input type="hidden" name="follow" value="{{ tag.pk }}"/>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="follow_label">
                                    {% if user.profile in tag.tag_followers.all%}
                                        Bỏ theo dõi
                                    {%else%}
                                        Theo dõi
                                    {%endif%}
                                </span>
                                <span class="followers_count">{{tag.followers_count}}</span>
                            </button>
                        </div>            
                    {% endif %}
                </div>
            {% endfor %}
             </div>
        </div>
    {%else%}
        <p class="text-danger">Không tìm thấy chủ đề</p>
    {%endif%}
{%endblock%}