{% extends "base.html" %}
{% load staticfiles %}
{%block extra_js%}
<script type="text/javascript" src="{% static "js/follow.js" %}"></script>
{%endblock%}

{% block title %}Profile{% endblock %}

{% block sidebar_left %}
{%if profile %}
    {%if profile.avatar %}
        <img class="img-circle" src="{{ MEDIA_URL}}{{profile.avatar}}"/>
    {%else%}
        <img class="img-circle" src="{{ MEDIA_URL}}/profiles/noimage.png"/>
    {%endif%}
    <hr/>
    <h4>Infos</h4>
    <p>Rank: {{profile.rank}}</p>
    <p><a href="{{profile.website}}">{{profile.website|escape}}</a></p>
    <p>Address:{{profile.address|escape}}</p>
    <p>Birthday:{{profile.birthday|escape}}</p>
    <p>Gender: {{profile.gender|escape}}</p>
    <hr/>
    <h4>FEEDS</h4>
    <p>Questions <span class="text-info">{{profile.questions_count}}</span></p>
    <p>Answers <span class="text-info">{{profile.answers_count}}</span></p>
    <p>Followers <span class="text-info">{{profile.followers_count}}</span></p>
    <p>Follows <span class="text-info">{{profile.follows_count}}</span></p>
{%endif%}
{% endblock %}

{% block content %}
    {%csrf_token%}
    {%if profile %}
        <h3>{{profile.fullname|escape}}</h3>
        <p>{{profile.bio|escape}}</p>        
            {% if profile.username != user.username and user.is_authenticated%}
            <div class="row">
            <div class="follow col-md-3">
                <button class="btn btn-primary btn-xs followuser">
                    <input type="hidden" name="follow" value="{{ profile.username }}"/>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="follow_label">
                        {% if user.profile in profile.followers.all%}
                            Unfollow
                        {%else%}
                            Follow
                        {%endif%}
                    </span>
                    <span class="followers_count">{{profile.followers_count}}</span>
                </button>
            </div>
            <div class="col-md-3 send-message">
                <a href="{% url 'message:view_conversation' profile.username %}">Message</a>
            </div>
            </div>         
            {% endif %}
        <hr/>
        {%block profile_content%}
        {%endblock%}
    {%else%}
        <p style="text-warning">User not exist</p>
    {%endif%}    
{% endblock %}