{% extends "profile_base.html" %}
{%load user_template %}
{%block profile_content%}
{%if profile.followers.all %}
<h4>Ngừoi theo dõi</h4>
    {% list_users profile.followers.all%}    
    <hr/>
{%endif%}
{%if profile.follows.all %}
<h4>Theo dõi</h4>
    {% list_users profile.follows.all%}    
    <hr/>
{%endif%}
{%if profile.user_questions%}
    <h4>Câu hỏi</h4>
    <div class="questions">
        {%for question in profile.user_questions.all%}
            <div class="item">
                <a href="{% url 'question:detail' question.pk question.slug %}">{{question.title}}</a>
            </div>
        {%endfor%}
    </div>
{%endif%}
{%if profile.user_answers%}
    <h4>Trả lời</h4>
    <div class="answers">
        {%for answer in profile.user_answers.all%}
            <div class="item">
            Trả lời:
                <a href="{% url 'question:detail' answer.question.pk answer.question.slug %}">{{answer.question.title}}</a>
            </div>
        {%endfor%}
    </div>
{%endif%}
{%endblock%}